<mat-horizontal-stepper [linear]="isLinear" #stepper>
	<mat-step [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup">
			<ng-template matStepLabel>First</ng-template>

			<mat-form-field appearance="fill">
				<mat-label>Select Meal</mat-label>
				<mat-select formControlName="meal" required>
					<mat-option *ngFor="let meal of meals" [value]="meal.value">
						{{meal.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<br />
			<mat-form-field>
				<mat-label>Number of people</mat-label>
				<input matInput type="number" placeholder="Number of people" formControlName="people" required>
			</mat-form-field>
			<div>
				<button mat-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="secondFormGroup">
		<form [formGroup]="secondFormGroup">
			<ng-template matStepLabel>Second</ng-template>
			<mat-form-field appearance="fill">
				<mat-label>Select Restaurant</mat-label>
				<mat-select formControlName="restaurant" required
					(selectionChange)="fetchDishOfGivenRestaurant($event)">
					<mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.value">
						{{restaurant.viewValue}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<br />
			<div>
				<button mat-button matStepperPrevious>Back</button>
				<button mat-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="thirdFormGroup">
		<form [formGroup]="thirdFormGroup">
			<ng-template matStepLabel>Third</ng-template>
			<button mat-button (click)="addCombo()">+</button> <b>{{ validationMSG }}</b>

			<div formArrayName="stepThree">

				<div *ngFor="let total of thirdFormGroup.controls['stepThree']['controls']; let i=index"
					[formGroupName]="i">

					<mat-form-field appearance="fill">
						<mat-label>Select Dish</mat-label>
						<mat-select formControlName="dish" required>
							<mat-option *ngFor="let dish of dishes" [value]="dish.value">
								{{dish.viewValue}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<br />

					<mat-form-field>
						<mat-label>Number of Servings</mat-label>
						<input matInput type="number" placeholder="Number of servings" formControlName="noOfServings"
							required>
					</mat-form-field>
					<div>
						<button mat-button (click)="removeCombo(i)">Remove</button>
					</div>

				</div>

			</div>

			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>

		</form>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<mat-list>

			<mat-list-item> <strong>Meal:</strong> {{ this.firstFormGroup.value.meal }}</mat-list-item>
			<mat-list-item> <strong>No. Of People:</strong> {{ this.firstFormGroup.value.people }}</mat-list-item>
			<mat-list-item> <strong>Restaurant:</strong> {{ this.secondFormGroup.value.restaurant }}</mat-list-item>
			<mat-list-item> <strong>Dishes:</strong>
				<ul>
					<div *ngFor="let obj of this.thirdFormGroup.value.stepThree; let i = index">
						<li>{{obj.dish}} - {{obj.noOfServings}}</li>
					</div>
				</ul>
			</mat-list-item>
		</mat-list>

		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="submit()">Submit</button>
		</div>
	</mat-step>
</mat-horizontal-stepper>